<div id="<%= id %>" class="toolbar">
  <ul>
    <li><a data-wysihtml5-action="change_view">Źródło</a></li>
    <li><a data-wysihtml5-command="bold" title="Pogrubienie">Pogrubienie</a></li>
    <li><a data-wysihtml5-command="italic" title="Italic">Kursywa</a></li>
    <li><a data-wysihtml5-command="createLink" title="Łącze">Łącze</a></li>
    <li><a data-wysihtml5-command="insertImage" class="insertImage" title="Obrazek">Obrazek</a></li>
    <li><a data-wysihtml5-command="insertUnorderedList" title="Lista punktowana">Lista punktowana</a></li>
    <li><a data-wysihtml5-command="insertOrderedList" title="Lista numerowana">Lista numerowana</a></li>
    <li><a data-wysihtml5-command="indent" title="Wcięcie">Wcięcie</a></li>
    <li><a data-wysihtml5-command="outdent" title="Odcięcie">Odcięcie</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="img-big">Duży obraz</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="img-two-small">2x Mały obraz</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="important">Ważne</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote">Cytat</a></li>
  </ul>

  <div class="dialog" data-wysihtml5-dialog="createLink" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Anuluj</a>
    </div>
    <label>
      Łącze:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div style="clear: both;"></div>
  </div>

  <div class="dialog" data-wysihtml5-dialog="insertImage" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Anuluj</a>
    </div>
    <label>
      URL Obrazka:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="src" value="http://" id="image_url">
    </label>
    <label>
      Położenie:
      <select data-wysihtml5-dialog-field="className">
        <option value="">domyślnie</option>
        <option value="wysiwyg-float-left">lewo</option>
        <option value="wysiwyg-float-right">prawo</option>
      </select>
    </label>
    <div style="clear: both;"></div>
  </div>
</div>
